@tailwind base;
@tailwind components;
@tailwind utilities;

.live{
    background-color:rgb(240, 246, 255, 0.1);
}

.tab-content .content{
    display:none
}
.tab-content .active{
    display:block
}
.color{
    color:#fff
}

.divGroup .change{
    /* background-color:#2133d2; */
    color:#0f172a
    /* color:#2133d2 */
}
.change .colorBlue{
    color:#2133d2
}
.change:hover .colorBlue{
    color:#2133d2!important;
}
.change .bgColorBlue{
    background-color:#2133d2
}
.change:hover .bgColorBlue{
    Background-color:#2133d2!important;
}
@media (min-width:1024px) {
    .display{
        display:none
    }
    
}
@media(max-width:1024px){
    
       .color{
        color:#2133d2;
        background-color:rgb(236, 241, 247);
       }
        /* .live{
            background-color:rgb(236, 241, 247);
        } */
       
    }

          

@media(max-width:500px){
    .w{
        width:900px;
   
    }
}
